


p{
    font-size: 28px;
    font-weight: 500;
    color: #198754;
}
h2{
    font-size: 32px;
    font-weight: 500;
    color:  #4FA74F;
}
.cP{
    font-size: 28px;
    color: #212529;
    font-weight: 500;
    line-height: 1.1;
}