
<section class="rounded-2 container">
    <!-- ///////////// loadingscreen//////// -->

<div *ngIf="isLoadingScreen" class="loading">
    <div class="spinner">
        <div class="rect1 me-1"></div>
        <div class="rect2 me-1"></div>
        <div class="rect3 me-1"></div>
        <div class="rect4 me-1"></div>
        <div class="rect5 me-1"></div>
      </div>
</div>

   <div>
    <div class="d-flex justify-content-between ckeckOut py-3">
        <div>
        <h2>Cart shop</h2>
        <p *ngIf="isEmptyCart" class="message fontcolor align-self-start py-2">
            your cart is empty
        </p>
        </div>
        <div class="ckeckOutbtn ">
            <button *ngIf="isButton" [routerLink]="['/pay', cartId]" class="btn btn-primary text-white">ckeck out</button>
        </div>
    </div>
    <div class="d-flex justify-content-between price">
        <div *ngIf="istotalPrice">
            <h5  class="mt-4">total price: <span>{{totalPrice}}</span></h5>
        </div>
        <div *ngIf="istotalItem">
            <h5 class="mt-4">total number of items: <span>{{totalItem}}</span></h5>
        </div>
        
    </div>
    <div  *ngFor="let p of allProductItems"  class="row mt-5 align-items-center border-bottom pb-3">
        <div class="col-3">
            <div class="item">
                <img class="w-100" [src]="p.product.imageCover" alt="">
            </div>
        </div>
        <div class="col-9 ">
            <div class="item d-flex justify-content-between ">
                <div class="details fontcolor">
                    <h5>{{p.product.title}}</h5>
                    <h6 class="">{{p.price |currency:"EGP"}}</h6>
                    <button (click)="deleteItemOfCart(p.product._id)" class="mt-1"> <i class="fa-solid fa-trash"></i>  delete</button>
                </div>
                <div class="count">
                    <button (click)="updateCartItem(p.product._id , p.count ,'plus')" class="btn me-2"><i class="fa-solid fa-plus"></i></button>
                    <span class="fontcolor">{{p.count}}</span>
                    <button (click)="updateCartItem(p.product._id, p.count,'minus')" class="btn ms-2"><i class="fa-solid fa-minus"></i></button>
                </div>
            </div>
        </div>
    </div>
    <button *ngIf="isButton"  (click)="clearAllCart()" class="btn btn1 mt-4 d-block mx-auto fontcolor">Clear Your Cart</button>
   </div>
</section>
