

<section class="container">
    <!-- ///////////// loadingscreen//////// -->

<div *ngIf="isLoadingScreen" class="loading">
    <div class="spinner">
        <div class="rect1 me-1"></div>
        <div class="rect2 me-1"></div>
        <div class="rect3 me-1"></div>
        <div class="rect4 me-1"></div>
        <div class="rect5 me-1"></div>
      </div>
</div>

    <h3 class="font1">reset your account password</h3>

    <form [formGroup]="newPassForm" (ngSubmit)="newPassSubmitMethod()" class="mb-3">
        <p *ngIf="isError" class="alert alert-danger text-center py-2">{{errorMessage}}</p>
        <div class="mb-2">
            <label class="font2">Email:</label>
            <input formControlName="email" type="text" class="form-control p-3">
            <div *ngIf="newPassForm.get('email')?.errors && newPassForm.get('email')?.touched">
                <p *ngIf="newPassForm.get('email')?.errors?.['required']" class="text-red mt-1"># email is required</p>
                <p *ngIf="newPassForm.get('email')?.errors?.['email']" class="text-red mt-1"># please enter valid email</p>
                
            </div>
        </div>
        <div class="mb-3">
            <label>New Password:</label>
            <input  formControlName="newPassword" type="password" class="form-control p-3">
            <div *ngIf="newPassForm.get('newPassword')?.errors && newPassForm.get('newPassword')?.touched">
                <p *ngIf="newPassForm.get('newPassword')?.errors?.['required']" class="text-red mt-1"># newPassword is required</p>
                <p *ngIf="newPassForm.get('newPassword')?.errors?.['pattern']" class="text-red mt-1"># please enter valid password</p>
                
            </div>
        </div>
            <button>Set new password <i *ngIf="isLoading" class="fa-solid fa-spinner fa-spin"></i></button>
    </form>
</section>
