

<section class="container">
  <!-- ///////////// loadingscreen//////// -->

<div *ngIf="isLoadingScreen"  class="loading">
  <div class="spinner">
      <div class="rect1 me-1"></div>
      <div class="rect2 me-1"></div>
      <div class="rect3 me-1"></div>
      <div class="rect4 me-1"></div>
      <div class="rect5 me-1"></div>
    </div>
</div>



    <h2 class="font1">please enter your verification code</h2>
    <p *ngIf="isError" class="text-center alert alert-danger">{{errorMessage}}</p>
    <form [formGroup]="forgetPassForm" (ngSubmit)="forgetSubmitMethod()">
        <div>
        <label class="font2">Email:</label>
        <input formControlName="email" type="email" class="form-control mb-3 p-3">
        </div>
        <button (click)="forgetSubmitMethod" class="">verify <i *ngIf="isLoading" class="fa-solid fa-spinner fa-spin"></i></button>
    </form>

<!-- 
    <form class="example-form">
      <mat-form-field class="example-full-width">
        <mat-label>Email</mat-label>
        <input type="email" matInput [formControl]="emailFormControl" placeholder="Ex. pat@example.com">
        @if (emailFormControl.hasError('email') && !emailFormControl.hasError('required')) {
          <mat-error>Please enter a valid email address</mat-error>
        }
        @if (emailFormControl.hasError('required')) {
          <mat-error>Email is <strong>required</strong></mat-error>
        }
      </mat-form-field>
    </form> -->
</section>
