

<section class="mx-auto">


  <!-- ///////////// loadingscreen//////// -->

<div class="loading">
  <div class="spinner">
      <div class="rect1 me-1"></div>
      <div class="rect2 me-1"></div>
      <div class="rect3 me-1"></div>
      <div class="rect4 me-1"></div>
      <div class="rect5 me-1"></div>
    </div>
</div>

  <h1 class="text-center fontColor py-5">All Brands</h1>
<!-- Button trigger modal -->
<button type="button" class="btn btn-white model" data-bs-toggle="modal" data-bs-target="#exampleModal">
    <div class="row gap-3 g-4">
        <div (click)="getSupBrand(b._id)" *ngFor="let b of allbrands" class=" col-md-3 border rounded-2 product p-3">
            <div class="item">
              <div>
                <img class="fluid" [src]="b.image" alt="">
            </div>
            <div>
                <p class="text-center">{{b.name}}</p>
            </div>
            </div>
        </div>
    </div>
  </button>

   <!-- Modal -->
   <div   class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div  class="modal-body">
            <div class="d-flex justify-content-between align-items-center">
              <div class="">
                <h1 class="fontColor">{{SubBrands?.name}}</h1>
                <p>{{SubBrands?.slug}}</p>
            </div>
            <div class="">
                <img [src]="SubBrands?.image" alt="">
            </div>

            </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>

</section>

 